:root{
    font-size:min(25px, max(5vw, 15px));
	font-family:/*'Franklin Gothic Medium',*/ Arial, sans-serif;
    --padding:0.2rem;
    --label-space:5.5rem;
    --input-space:4rem;
}

@media (pointer:fine){
	:root{
		font-size:15px;
	}
}

html{
	margin:0px;
	padding:0px;
}

body{
	margin:0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	width:100%;
	box-sizing: border-box;
}

dialog::backdrop{
	height:100vh;
}

/* dialog.self-close::after{
	content:"×";
	font-family:fantasy;
	font-size:1.5rem;
	position:absolute;
	top:var(--padding);
	right:var(--padding);
	cursor:pointer;
} */

section {
	padding:0.5rem;
	display:flex;
	flex-direction: column;
	margin:auto;
	width:100%;
	box-sizing: border-box;
	max-width: 40rem;
}

section > *{
	margin-inline:auto;
}

form.item-info {
	display:grid;
	grid-row-gap: var(--padding);
	grid-template-columns: [start] var(--label-space) var(--padding) [form-start] var(--input-space) 1fr 7fr [pre-button] 1fr var(--input-space) [end];
	grid-template-areas: "labels pad numbers numbers space buttons buttons";
	justify-items: stretch;
	width:100%;
	box-sizing: border-box;
	font-size: 1rem;
	position:relative;
}

form *{
	font-size: inherit;
	margin:auto;
	max-width: 100%;
	min-width: 0px;
}

label{
	grid-area:labels;
	grid-row:auto;
	margin:0px;
	white-space: nowrap;
	height:1rem;
	margin-block:0.2rem;
	display:inline-flex;
}

label::after{
	content:":";
}

input, textarea{
	grid-column: form-start/end;
	margin:0px;
}

textarea{
	resize:none;
}

select{
	grid-column:start/end;
	width:10rem;
}

#tag-input, #series{
	grid-column-end:pre-button;
}

#series-number{
	grid-area: buttons;
}

input[type="number"]{
	grid-area: numbers;
	grid-row: auto !important;
}

#item-quantity:invalid{
	color:red;
}

.tag-input:not(:placeholder-shown){
	padding-right:1.4rem;
}

button{
	width:100%;
	margin-top:0px;
}

.tag-input-controls{
	width:100%;
	display:flex;
	align-items: center;
	position:relative;
	grid-column:pre-button / end;
}

.apply-tag{
	width:100%;
}

.tag-input:placeholder-shown + .tag-input-controls .apply-tag{
	box-shadow: none;
	opacity:0.4;
	cursor: not-allowed;
	pointer-events: none;
}

/* × */

.tag-cancel{
	position:absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	width:1.2rem;
	height:1.2rem;
	cursor:pointer;
	left:-1.4rem;
	font-family:fantasy;
}

.tag-input:placeholder-shown + .tag-input-controls .tag-cancel{
	display:none;
}

.applied-tags-container{
	grid-column: start / end;
	display:flex;
	flex-direction:column-reverse;
	width:100%;
	position:relative;
	box-sizing: border-box;
}

.applied-tags-sort{
	display:grid;
	margin:0px;
	width:100%;
	box-sizing: border-box;
	grid-template-columns: calc(var(--label-space) - 1.7rem) 1.7rem var(--padding) var(--input-space) 8fr 1fr var(--input-space);
	grid-template-areas: "labels swap pad sort sort select select";
}


.applied-tags-sort label{
	grid-area: labels;
}

.applied-tags-sort-select{
	grid-area:sort;
	width:min(100%, 7.7rem);
	position:relative;
	margin:0px;
}

.applied-tags-sort-select::after{
	content:"(A-Z)";
	position:absolute;
	right: 1rem;
	
}

.applied-tags-sort-swap{
	grid-area: swap;
	
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	padding:0px;
	cursor:pointer;
}

.applied-tags-sort-swap *{
	vertical-align: center;
}

.applied-tags-container[swap='true'] .arrow2, .applied-tags-container[swap='false'] .arrow1{
	color:#aaaaaa;
}

.applied-tags-container[swap='true'] .arrow1, .applied-tags-container[swap='false'] .arrow2{
	font-weight: 700;
	font-size: 1.1rem;
}

.applied-tags-list{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: left;
	width:100%;
	margin-block:var(--padding);
	gap:0.2rem;
}

.applied-tags-container[swap='true'] .applied-tags-list{
	flex-direction:row-reverse;
	flex-wrap: wrap-reverse;
}

.applied-tag{
	margin:0px;
	cursor:context-menu;
	position:relative;
}

.applied-tag::before{
	z-index:-1;
	position:absolute;
	content:attr(tag-value);
	color:rgba(0,0,0,0);
	padding-inline:var(--padding);
	/* top:calc(0px - var(--padding)); */
	left:calc(0px - var(--padding));
	border-radius:var(--padding);
	height:100%;
}

.applied-tag:hover::before{
	background-color:#cccccc;
}

.applied-tag.selected::before{
	background-color:#aac5ff;
}

#tag-context-dialog{
	margin:0px;
	padding:0px;
	outline:0px;
	border:0px;
	background-color:rgba(0,0,0,0);
}

#tag-context-dialog[open]{
	animation:fade-in 300ms ease-out;
}

@keyframes fade-in{
	from{opacity:0}
	to{opacity:1}
}

#tag-context-menu, #tag-context-menu form {
	display:flex;
	flex-direction:column;
	align-items: center;
	position:relative;
}

#tag-context-menu button{
	width:5rem;
}

@media (pointer:coarse){
	.applied-tag{
		user-select: none;
	}

	#tag-context-dialog{
		position:fixed;
		margin:auto;
	}

	#tag-context-menu::before{
		content:'"' attr(selected-tag) '"';
		box-sizing: border-box;
		text-align: center;
		padding:var(--padding);
		min-width:5rem;
		background-color:white;
		border:2px solid #777777;
		border-radius:3px;
	}
}

.applied-tags-container[swap='false'] .applied-tag:not(:last-child)::after,
.applied-tags-container[swap='true'] .applied-tag:not(:first-child)::after{
	content:",";
}

.applied-tags-list:empty::before{
	content:"Applied tags will be listed here...";
	color:#777777;
}

.select-tags-button{
	grid-area:select;
	padding-inline:0.1rem;
}

div.spacer{
	grid-column: start/end;
	width:100%;
	margin-block: calc(var(--padding) * 2);
	padding-block: 1rem;
	border-block: 1px solid #ffffff;
}